<% if session[:user_id] == @specific_post.user_id %>

  <form method="POST" action="/posts/<%= @specific_post.id %>">
    <input type="hidden" name="_method" value="PUT">

    <div class="form-group">
      <input type="text" class="form-control" name="title" value="<%= @specific_post.title %>">
    </div>

    <div class="form-group">
      <span class="newpost" id="postCount">150 character limit</span>
      <textarea class="form-control" id="textArea" onkeydown="keyDown()" name="content"><%= @specific_post.content %></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

<form action="/posts/<%= @specific_post.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">

  <button type="submit" class="btn btn-outline-danger">Delete</button>
</form>
  <% else %>

  <h2>Nope</h2>
<% end %>