<div class="card m-1">
  <div class="row justify-content-center">

  <% if session[:user_id] %>
    <div class="col-md-8">
  <form method="POST" action="/posts">
    <div class="form-group">
      <label for="titleInput">Post Title:</label>
      <input type="text" class="form-control form-control-lg" name="title" id="titleInput" placeholder="Title" required>
    </div>

    <div class="form-group">
      <label for="contentInput">Content:</label>
      <span class="newpost" id="postCount">150 character limit</span>
    <textarea name="content" id="textArea" onkeydown="keyDown()" class="form-control" placeholder="type your post" rows="5" maxlength="150"></textarea>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Submit Post</button>
  </form>
    </div>
    <% else %>
    <%= redirect '/' %>
  <% end %>
  </div>
</div>