<div class="jumbotron">
    <div class="row justify-content-center">
      <div class="col-md-6 m-5">
      <h1>Sign Up</h1>

        <form action="/sign-up" method="post">
          <div class="form-group">
            <label for="usernameInput">Username</label>
          <input type="text" name="username" id="usernameInput" class="form-control" placeholder="Username" required>
          </div>
          <div class="form-group">
            <label for="passwordInput">Password</label>
          <input type="password" name="password" id="passwordInput" class="form-control" placeholder="Password" required>
          </div>

          <div class="form-group">
            <label for="firstnameInput">First Name:</label>
          <input type="text" name="first_name" id="firstnameInput" class="form-control" placeholder="First Name" required>
          </div>
          <div class="form-group">
            <label for="lastnameInput">Last Name:</label>
          <input type="text" name="last_name" id="lastnameInput" class="form-control" placeholder="Last Name" required>
          </div>
          <div class="form-group">
            <label for="emailInput">Email address:</label>
          <input type="email" name="email" id="emailInput" class="form-control" placeholder="Enter email" required>
          </div>
          <div class="form-group">
            <label for="bioInput">Short bio</label>
              <span class="header" id="postCount">(150 characters remaining)</span>
              <textarea class="form-control" onkeydown="keyDown()" rows="4" cols="50" name="bio" id="textArea" placeholder="Your bio" required></textarea>
          </div>
          <input class="btn btn-primary" type="submit" value="Sign Up">
        </form>
    </div>
  </div>
</div>