body {
  margin: 0 auto;
  background: url(./images/abstract.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Space Mono', monospace;
}

.flash {
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 10px;
  position: relative; 
}

.flash.info {
  background-color: #7cee7c; 
}

.flash.warning {
  background-color: #ee7c7c; 
}

#email-address, #username {
  background: white;
  color: black;
}

.posts {
  text-align: center;
}

.flash a, .flash a:link, .flash a:active, .flash a:visited {
  position: absolute;
  right: 20px;
  text-decoration: none;
  color: black;
  animation: beckon;
  animation-duration: 3s;
  animation-iteration-count: infinite; 
}

.flash a:hover {
  color: white; 
}

.list-group-item {
  background-color: rgb(24, 22, 22);
  color: white;
}

.flash.hide {
  display: none; 
}

.card, .jumbotron {
  background: url(./images/stripes.jpg);
}

.dateTime {
  color: black;
}

.userBio, .userInfo, .myPosts {
  margin-left: 20px;
}

hr {
  color: white !important;
  width: 100%;
}

a, .dateTime {
  color: white;
}

