body {
  margin: 0 auto;
  background: rgb(31, 9, 9);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.flash {
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 10px;
  position: relative; 
}

.flash.info {
  background-color: #7cee7c; 
}

.flash.warning {
  background-color: #ee7c7c; 
}

.flash a, .flash a:link, .flash a:active, .flash a:visited {
  position: absolute;
  right: 20px;
  text-decoration: none;
  color: black;
  animation: beckon;
  animation-duration: 3s;
  animation-iteration-count: infinite; 
}

.flash a:hover {
  color: white; 
}

.flash.hide {
  display: none; 
}

.card, .jumbotron {
  background: rgb(28, 38, 44);
}

.dateTime {
  color: black;
}

.userBio, .userInfo, .myPosts {
  margin-left: 20px;
}

a {
  color: white;
}

